/* style.css */
.ccm-userstories > .main-content > .stories {
  display: table;
  padding: 0.5em;
  background: grey;
  border: 1px solid black;
  width: 360px;
}
.ccm-userstories > .main-content > .stories > div {
  display: table-row;
}
.ccm-userstories >  > div > div {
  display: table-cell;

}
.ccm-userstories > .main-content > .stories > .name:after {
  content: ':';
  padding-right: 0.5em;
}

.ccm-userstories > .new_story {
	display: table;
}
